.card {
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding-top: 30px;
}

.cardBtn {
  color: #1a1a1a;
}

.cardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #434343;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  transition: background-color 0.25s;
  text-align: center;
  vertical-align: auto;
}

.green {
  color: greenyellow;
}

.pink {
  color: rgb(255, 59, 157);
}

.yellow {
  color: rgb(251, 255, 0);
}

.blue {
  color: rgb(0, 81, 255);
}